<%- include('../Partials/header') %>
    <div class="login ">
        <div class="container m-auto">
            <div class="d-flex align-items-center justify-content-center vh-80">
                <div class="col-4">
                    <form action="/upload" method="post" class='shadow-lg bor-rad p-4 bg-light' onsubmit="return validateForm(this)" enctype="multipart/form-data">
                        <h1 class='text-center text-secondary'>Create Blog</h1>

                        <div class="d-flex justify-content-between align-items-center">
                            <label htmlFor="" class='fw-bold my-2 lightslategrey'>Title : </label>
                            <span class='text-danger fs-6 fw-bold' id="titleError"></span>
                        </div>
                        <input type="text" class='w-100 form-control' placeholder="Blog's Title" name='title' />

                        <div class="d-flex justify-content-between align-items-center">
                            <label htmlFor="" class='fw-bold my-2 lightslategrey'>Description : </label>
                            <span class='text-danger fs-6 fw-bold' id="descriptionError"></span>
                        </div>
                        <textarea name="description" id="" class="w-100 form-control" cols="30" rows="3" placeholder="Blog's Description"></textarea>

                        <div class="d-flex justify-content-between align-items-center">
                            <label for="" class="fw-bold my-2 lightslategrey">Blog's Poster :</label>
                            <span class="text-danger fs-6 fw-bold" id="picError"></span>
                        </div>
                        <input type="file" name="file" class="form-control">
                        <div class="text-center mt-3">
                            <button class='btn btn-dark rounded w-100'>Post Blog</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include('../Partials/footer') %>
    <script>
        const validateForm = (e) => {
            let isValid = true;
            const titleError = document.getElementById("titleError");
            const descriptionError = document.getElementById("descriptionError");
            const picError = document.getElementById("picError");

            if (e.title.value === "") {
                titleError.innerText = "Required*";
                isValid = false;
            } else {
                titleError.innerText = ""
            }
            if (e.description.value === "") {
                descriptionError.innerText = "Required*";
                isValid = false;
            } else {
                descriptionError.innerText = ""
            }
            if (!e.file.value) {
                    picError.innerText = "Select Blog's Poster*";
                    isValid = false;
                } else {
                    picError.innerText = "";
                }
            return isValid
        }
    </script>